html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-size: 18px; }

.hidden {
  display: none; }

.screen {
  width: 100%;
  height: 100%;
  background: black;
  color: white; }

h1 {
  margin: 0px;
  font-size: 120px;
  color: transparent;
  text-align: center;
  width: 100%;
  background: url("../img/bricks.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transperant; }

#menu {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-top: 100px; }
  #menu li {
    margin-top: 20px;
    cursor: pointer; }
    #menu li span {
      display: inline-block;
      width: 200px; }
    #menu li .tank {
      position: static;
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url("../img/tank1.png");
      background-size: 32 32;
      vertical-align: middle;
      visibility: hidden;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    #menu li.active .tank {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url("../img/tank1.png");
      background-size: 32 32;
      vertical-align: middle;
      visibility: visible; }

#footer {
  color: white;
  text-align: center;
  font-size: 32px;
  position: absolute;
  bottom: 0px; }

label {
  color: white;
  display: inline-block;
  width: 150px; }

select {
  width: 180px; }

#create {
  padding-top: 200px; }

.box {
  margin: auto;
  width: 300px;
  font-size: 24px; }
  .box label {
    margin-bottom: 10px;
    width: 100%; }
  .box select, .box input {
    background: white;
    font-size: 18px;
    margin-bottom: 20px;
    width: 250px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0px; }
  .box button {
    background: white;
    border: 1px solid white;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: black;
    cursor: pointer; }
  .box #rooms {
    min-height: 200px;
    border: 5px solid #666666;
    border-radius: 10px;
    background: white;
    overflow: auto;
    color: black; }
    .box #rooms .room.active {
      background: black;
      color: white; }
    .box #rooms .room {
      padding: 5px;
      padding-left: 10px;
      border-bottom: 2px solid #666666; }
  .box i {
    color: red;
    cursor: pointer; }

#wait .title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px; }
#wait .classify {
  width: 670px;
  margin: auto; }
#wait .teaming {
  padding-top: 20px;
  float: left;
  width: 300px;
  background: white;
  min-height: 300px;
  font-size: 24px;
  text-align: center; }
  #wait .teaming:before {
    content: "TEAM 1";
    color: black;
    display: block;
    text-align: center; }
  #wait .teaming li {
    background: blue; }
#wait #bad {
  margin-left: 50px; }
  #wait #bad:before {
    content: "TEAM 2"; }
  #wait #bad li {
    background: red; }

#start_real_game {
  background: white;
  border: 1px solid white;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: black;
  cursor: pointer; }

.block {
  float: left;
  background: black; }
  .block.wall {
    background: url("../img/bricks.png");
    background-size: 48px; }
  .block.grass {
    background: url("../img/grass.png");
    position: relative;
    z-index: 2; }
  .block.water {
    background: url("../img/water.gif"); }

.tank {
  position: absolute;
  width: 48px;
  z-index: 1; }

.bullet {
  position: absolute;
  width: 24px;
  z-index: 3; }

.scores {
  clear: both; }
  .scores .head {
    float: left;
    font-size: 72px; }
  .scores .team1 {
    margin-left: 160px;
    color: blue; }
  .scores .team2 {
    color: red; }
  .scores #team1, .scores #team2 {
    float: left;
    font-size: 27px; }
    .scores #team1 span, .scores #team2 span {
      margin-left: 20px; }
  .scores #team1 {
    color: blue;
    margin-right: 100px; }
  .scores #team2 {
    color: red; }
