@import "compass/reset";
@import "compass/css3";


body{
    font-size: 18px;
}


.hidden{
    display: none;
}

.screen{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

h1{
    margin: 0px;
    font-size: 120px;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    width: 100%;
    background: url("../img/bricks.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transperant;
}

#menu{
    color: white;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    li{
        margin-top: 20px;
        cursor: pointer;
        span{
            display: inline-block;
            width: 200px;
        }
        .tank{
            position: static;
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url("../img/tank1.png");
            background-size: 32 32;
            vertical-align: middle;
            visibility: hidden;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &.active .tank{
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url("../img/tank1.png");
            background-size: 32 32;
            vertical-align: middle;
            visibility: visible;
        }
    }
}

#footer{
    color: white;
    text-align: center;
    font-size: 32px;
    position: absolute;
    bottom: 0px;
}

label{
    color: white;
    display: inline-block;
    width: 150px;
}

select{
    width: 180px;
}

#create{
    padding-top: 200px;
}

.box{
    margin: auto;
    width: 300px;
    font-size: 24px;
    label{
        margin-bottom: 10px;
        width: 100%;
    }
    select, input{
        background: white;
        font-size: 18px;
        margin-bottom: 20px;
        width: 250px;
        @include box-sizing(border-box);
        padding: 5px;
        border-radius: 0px;
    }
    button{
        background: white;
        border: 1px solid white;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        font-size: 28px;
        font-weight: 600;
        color: white;
        background: black;
        cursor: pointer;
    }
    #rooms{
        background: white;
        resize: both;
        overflow: auto;
        color: black;
        .room.active{
            background: black;
            color: white;
        }
    }
    i{
        color: red;
        cursor: pointer
    }
}

#wait{
    .title{
        font-size: 26px;
        text-align: center;
        margin-bottom: 20px;
    }
    .classify{
        width: 670px;
        margin: auto;
    }
    .teaming{
        padding-top: 20px;
        display: inline-block;
        width: 300px;
        background: white;
        min-height: 300px;
        &:before{
            content: "GOOD";
            color: black;
            display: block;
            text-align: center;
        }
        li{
            background: green;
        }
    }
    #bad{
        &:before{
            content: "BAD";
        }
        margin-left: 50px;
        li{
            background: red;
        }
    } 
}

#start_real_game{
    background: white;
    border: 1px solid white;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: black;
    cursor: pointer;
}

.block{
    float: left;
    background: black;
    &.wall{
        background: url("../img/bricks.png");
        background-size: 48px;
    }
    &.grass{
        background: url("../img/grass.png");
        position: relative;
        z-index: 2;
    }
    &.water{
        background: url("../img/water.gif");
    }
}

.tank{
    position: absolute;
    width: 48px;
    z-index: 1;
}

.bullet{
    position: absolute;
    width: 24px;
    z-index: 3;
}